body{
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: aqua;/*文字色*/
    background: #f4f4f45b;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
  }
#player{
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: aqua;/*文字色*/
    background: #f4f4f45b;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    
}
.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.box5 span {
    margin: 0; 
    padding: 0;
    color: aqua;
    font-size: 40pt;
}
a{
    color: aqua;
}

#canvas { 
    position:fixed;
    top:0; left:0;
    width:100%;
     height:100%;
}
#body   { 
    position:absolute; 
    top:0; 
    left:0;
}

